body {
	background: #f3dfec
}
#banner {
	width: 100%;

}
h1 {
	text-align:center;
	color:#0c0b0b;
	border: 5px solid #0d0f0f;
	padding: 20px;
}
p {
	text-align: center;
}

#missão {
	font-size: 20px
}	
 
em strong {
	color:#111011
}

  text-align center;
	

